.header {
    padding: 20px 0px;
}

.navLinks {
    transform: translate(-99%);
    transition: all 1s ease 0s;
}

.header:hover .navLinks {
    transform: translate(0);

}

.link {
    padding-right: 10px;
}